[Unit]
Description=ReplicaSet Configurator
BindsTo=mongo@1.service

[Service]
KillMode=none
TimeoutStartSec=360
TimeoutStopSec=360
EnvironmentFile=/etc/environment
ExecStartPre=/bin/bash -c "docker pull 19hz/mongo-container:latest"
ExecStart=/bin/bash -c "docker run -t \
                    --volumes-from mongo-data1 19hz/mongo-container:latest config_replica;"
Restart=on-failure
[X-Fleet]
MachineOf=mongo@1.service