[Unit]
Description=Mongo Data Volume Service
After=docker.service
Requires=docker.service
After=etcd.service
Requires=etcd.service

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull quay.io/jaigouk/data-only-container:latest
ExecStartPre=-/usr/bin/docker rm mongo-data
ExecStart=/usr/bin/docker run --rm --name mongo-data%i quay.io/jaigouk/data-only-container
ExecStop=/usr/bin/docker stop mongo-data
ExecStopPost=-/usr/bin/docker rm mongo-data

Restart=always
RestartSec=5s

[X-Fleet]
Conflicts=mongo-data.*.service
